* {
    box-sizing: border-box;
    margin: 0;
}

/* Left Column */
.left-column{
    float: left;
    width: 25%;
    padding: 13px;
    min-height: 100vh;
    text-align: center;
    background: rgb(52,52,52);
}

.left-column::after {
    content: "";
    display: table;
    clear: both;
}

.left-column h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Fira Sans', sans-serif;
    color: #2a75bb;
    text-align: center;
    line-height: 40px;
}

.left-column h3 {
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #ffcb05;
    letter-spacing: 4px;
    margin-top: 0px;
}

.left-column h4 {
    margin-top: 65vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
}

.searchBox {
    width: 100%;
    padding-top: 20%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 18px;
    color: #000000;
}

#pokemonName {
    width: 200px;
    height: 36px;
    max-width: 200px;
    background: #E4E5EA;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    border: 0;
    /* margin-top: 60px; */
    /* margin-left: 40px; */
}

::placeholder{
    color: #2a75bb;
    font-weight: 500;
    border: 0;
}

#search{
    border: 0;
    border-radius: 0px 10% 10% 0px;
    width: 36px;
    height: 36px;
    background: #E4E5EA;
    cursor: pointer;
    margin: -10px;
    background-color: #2a75bb;
}

/* Right Column */
.right-column{
    float: left;
    width: 70%;
    padding: 13px;
    min-height: 250px;
    text-align: center;
}

.right-column::after {
    content: "";
    display: table;
    clear: both;
}

.welcome-card {
    box-shadow: 5px 5px 15px 5px rgb(52 52 52);
    width: 680px;
    display: flex;
    padding: 15px;
    margin-left: 50px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 75% 0%, #7D78A3 36%, #ffffff 36%);
}
.left {
    display: flex;
}

#gengar {
    width: 180px;
    float: left;
}

.right {
    width: 280px;
}

.right h1 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
}

.right h5 {
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

/* Flex Box for the Pokemon cards*/
.flexbox-container {
    display: flex;
    padding: 120px 40px 40px 40px;
}

.flexbox-item {
    width: 200px;
    margin: auto;
    border: 3px solid black;
    background-color: white;
}

.flexbox-item-1 {
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    border: 2px solid #000000;
    padding: 18px;
    box-shadow: 5px 5px 15px 5px #000000;
    width: 680px;
    min-height: 50px;
    column-gap: 32px;
    display: none;
}

.column-one {
    width: 30%;
    min-height: 50px;
    /* background-color: blue; */
}

.column-one img {
    width: 180px;
}

.column-one h2 {
    font-size: 44px;
    margin: 0;
    /* margin-left: 5%; */
}

.column-one {
    /* margin-left: 5%; */
}

.column-two {
    width: 30%;
    min-height: 50px;
    /* background-color: red; */
}

.column-two h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.column-two p {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;
}

.column-three {
    width: 30%;
    min-height: 50px;
    /* background-color: green; */
}

.column-three p {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 11px;
}

.flexbox-container2 {
    display: none;
}

.flexbox-container2 h4 {
    /* padding-right: 30%; */
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .left-column {
        width: 100%;
        min-height: 20vh;
    }
    .right-column {
        width: 105%;
    }
    .welcome-card {
        width: 85%;
        justify-content: center;
        text-align: center;
    }
    .flexbox-container {
        width: 100%;
    }
    .flexbox-container2 {
        width: 100%;
    }

}